// .App {
//   //   min-width: 100vw;
//   background: black;
//   display: flex;
//   justify-content: center;
// }
/* Ellipse 430 */

@font-face {
  font-family: "Tomorrow";
  src: local("Tomorrow"),
    url(./assets/fonts/Tomorrow/Tomorrow-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url(./assets/fonts/Inter/Inter_variable.ttf) format("truetype");
}
